.about {
    display: flex;
    width: 100vw;
    padding-top: 50px;
    background-image: url('../images/main/pattern.png');
}

.about-content {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;

}

.about .line-decoration {
    padding: 20px 0 10px 0;
    display: block;
}

.about-content p {
    padding: 20px 60px;
}

.about-content_image {
    padding: 30px 0;
}

.about-image {
    display: none;
}

@media(min-width: 530px) {
    .about-content {
        padding: 50px;
    }

    .about .line-decoration {
        padding: 20px 0;
        display: block;
    }

    .about-content p {
        padding: 20px;

    }
}

@media (min-width: 1024px) {

    .about {
        padding-top: 100px;
        width: 100vw;
    }

    .about-content {
        padding-top: 50px;
        width: 50vw;
    }

    .about-content p {
        padding: 20px 45px;
    }

    .about-content_image {
        padding: 30px 0;
    }

    .about .line-decoration {
        padding: 20px 0;
        display: block;
    }

    .about-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
    }

    .about-image_dish {
        width: 85%;
    }


}