.site-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/header/top_small.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.site-top_triggers {
    padding-top: 60px;
}

.divider {
    display: none;
}

.site-top_trigger {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: rgba(0, 0, 0, .6);
    margin-left: 15px;

}

span:nth-child(2) {
    background-color: rgba(255, 255, 255, .4);
    border: 1px solid #ffffff;
}

.site-top_trigger a {
    font-size: 12px;
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 30px;
}

@media (min-width: 530px) {
    .site-top {
        height: 60vh;
    }

    .divider {
        display: block;
    }

    .site-top_trigger {

        width: 140px;
        height: 40px;
    }

    .site-top_trigger a {
        font-size: 16px;
        line-height: 40px;
    }
}


@media (min-width: 1024px) {

    .site-top {
        height: 100vh;
    }

    .site-top_triggers {
        margin-top: 45px;
    }

    .site-top_triggers {
        padding-top: 0px;
    }

    .site-top_trigger {
        width: 260px;
        height: 70px;
    }

    .site-top_trigger a {
        font-size: 26px;
        line-height: 70px;
    }
}