@import url('about.css');
@import url('ingredients.css');

.site-main {
    display: flex;
    flex-direction: column;
}




/* SITE MAIN MENU */

/* .site-main-menu {
    display: flex;
    justify-content: center;
    background-image: url('../images/main/pattern.png');`
    padding: 80px 0;
}

.site-main-menu_content h3 {
    padding-top: 50px;
}


.site-main-menu_content {
    margin-left: 70px;
    width: 550px;
}

.site-main-menu_content-offer {
    display: flex;
    flex-wrap: wrap;
}

.site-main-menu_content-offer_product {
    padding-top: 25px;
    width: 90%;
}

.site-main-menu_content-offer_price {
    padding-top: 25px;
    width: 10%;
}

.site-main-menu_content-offer_description {
    display: inline-block;
    margin-top: 10px;
    border-top: 1px solid #dab33e;
    font-weight: 200;
} */

/* SITE MAIN REVIEVS */

/* .site-main-revievs {
    background-image: url('../images/main/main_revievs/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.site-main-revievs-content {
    padding: 100px 0;
    width: 770px;
    height: 560px;
    background-color: rgba(0, 0, 0, 0.7);
}

.site-main-revievs-content p {
    padding: 100px 80px;
    font-size: 25px;
    color: white;
} */


/* SITE MAIN RESERVATION */

/* .site-main-reservation {
    display: flex;
    background-image: url('../images/main/pattern.png');
    padding: 50px 150px;
}

.site-main-reservation_images {
    display: flex;
    justify-content: center;
    width: 50%;
}

.site-main-reservation_image {
    margin: 30px;
}

.site-main-reservation_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.site-main-reservation_trigger {
    display: inline-block;
    border: 1px solid #dab33e;
    text-align: center;
    width: 150px;
    height: 40px;
    background-color: #dab33e;
    margin-left: 15px;
}

.site-main-reservation_trigger a {
    font-size: 16px;
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;

    line-height: 40px;
} */