.about {
    padding-top: 20px;
    background-image: url("../images/main/pattern.png");
    height: 50vh;
}

.about-content p {
    padding: 20px 40px;
    line-height: 20px;
}

.about-content_image {
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 20%;
}


.about-image {
    display: none;
}

@media(min-width: 530px) {
    .about-content {
        display: flex;
        flex-direction: column;
    }

    .line-decoration {
        display: block;
        padding-top: 20px;
        display: block;
        margin: 0 auto;
        width: 30%;
        height: 30%;
    }

}

@media (min-width: 1024px) {

    .about {
        display: flex;
        padding-top: 80px;
    }

    .about-content {
        width: 50vw;
    }


    .about-content p {
        padding-top: 50px;
    }

    .about-content_image {
        padding-top: 50px;
        width: 30%;
        height: 80%;
    }

    .about-image {
        display: flex;
        justify-content: center;
        display: inline-block;
        width: 50vw;

    }
}