.site-nav {
    display: flex;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    height: 60px;
    position: fixed;
}

.site-nav_menu-trigger {
    position: absolute;
    top: 15px;
    right: 10px;
    color: #dab33e;
    background-color: transparent;
    font-size: 26px;
    border: none;
}

.site-nav_logo {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-nav_logo-image {
    padding-top: 10px;
    width: 100px;
    height: 60px;
}

.site-nav_user-actions {
    display: none;
}

.site-nav_user-social-media-actions {
    display: none;
}

@media(min-width: 1024px) {

    .site-nav {
        height: 90px;
    }

    .site-nav_logo {
        width: 20vw;
    }

    .site-nav_logo-image {
        width: 140px;
        height: 80px;
    }

    .site-nav_user-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 70vw;
    }

    .site-nav_user-social-media-actions {
        display: flex;
        align-items: center;
        width: 10vw;
        margin-right: 50px;
    }

    .site-nav_user-action {
        list-style: none;
        padding: 0 20px;
    }

    .site-nav_user-action a {
        font-size: 21px;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 1.5px;
        font-family: 'Gentium Book Basic', sans-serif;
        color: #ffffff;
    }

    .site-nav_user-social-media-action-trigger {
        border: none;
        background-color: transparent;
        color: #dab33e;
        font-size: 22px;
    }

    .site-nav_menu-trigger {
        display: none;
    }
}