@import url('reset.css');
@import url('menu.css');
@import url('header.css');

body {
    display: block;
    flex-direction: column;
    /* background-color: chartreuse; */
    /* width: 100vw; */
}

h2 {
    font-size: 90px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
}

h3 {
    font-size: 36px;
    color: #dab33e;
    font-family: 'Yeseva One', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}